* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* border: 1px solid red; */
}

.image-box{
  padding-bottom: 2rem;
 
}

body {
  background-color: #252525;
  background-image: url('https://images.pexels.com/photos/2341290/pexels-photo-2341290.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 1rem;
}

.input-box {
  max-width: 600px;
  background-color: #fff;
  margin: 200px auto 0;
  display: flex;
  align-items: center;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

#user-input {
  border: 0;
  outline: 0;
  padding: 1rem;
  font-size: 1rem;
  background: transparent;

  flex: 1;
}

#search-btn {
  color: #252525;
  margin-right: 1rem;
  background-color: transparent;
  font-size: 1.3rem;
  border: 0;
  cursor: pointer;
}

.result-box {
  max-width: 600px;
  background-color: #fff;
  margin: 0px auto 0;

  border-top: 1px solid gray;
  max-height: 300px;
  overflow-y: scroll;
}

.result-box ul {
  width: 100%;
}

.result-box ul li {
  padding: 0.4rem 1rem;
  list-style: none;
}

.result-box ul li:hover {
  cursor: pointer;
  background-color: rgba(0, 191, 255, 0.188);
}

.result-box p{
 padding: 0.4rem 1rem;
 color: red;
}

.hide{
    display: none;
}


.image-box{
    margin-top: 2rem;
    max-width: 100vw;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 1rem;
  
    
}

.image-box img{
 width: 25%;
 border-radius: 1rem;
 box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
 
 
}

@media (max-width: 600px) {

  .image-box{
     
    flex-direction: column;
    
}



  .image-box img{
    width: 80%;
 
    
   }
}